*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/pattern.png);
    background-color:rgb(78, 161, 255);
    height: 150px;
}

.header-logo{
    width: 250px;
    padding-top: 80px;
}

h1{
    font-size: 50px;
}

.sub{
   color: gray; 
}

#span-blue{
    color: lightblue;
}

.img-sub{
    font-size: 10px;
}

.lorem-pad{
    padding-bottom: 20px;
    padding-top: 20px;
}

ul{
    padding: 20px;
}

table {
    width: 100%;
}

th, td {
    text-align: left;
}

th{
    color: white;
    background-color: #20ace4;
}

.odd-col{
    background-color:#b0e6f3;
}

.first-col{
    width: 25%;
}

.last-col{
    width: 50%;
}

.highlighted{
    background-color: yellow;
}
